In [1]:
library(MASS)

In [2]:
data(ships)

In [3]:
ships

   type year period service incidents
1  A    60   60       127    0
2  A    60   75        63    0
3  A    65   60      1095    3
4  A    65   75      1095    4
5  A    70   60      1512    6
6  A    70   75      3353   18
7  A    75   60         0    0
8  A    75   75      2244   11
9  B    60   60     44882   39
10 B    60   75     17176   29
11 B    65   60     28609   58
12 B    65   75     20370   53
13 B    70   60      7064   12
14 B    70   75     13099   44
15 B    75   60         0    0
16 B    75   75      7117   18
17 C    60   60      1179    1
18 C    60   75       552    1
19 C    65   60       781    0
20 C    65   75       676    1
21 C    70   60       783    6
22 C    70   75      1948    2
23 C    75   60         0    0
24 C    75   75       274    1
25 D    60   60       251    0
26 D    60   75       105    0
27 D    65   60       288    0
28 D    65   75       192    0
29 D    70   60       349    2
30 D    70   75      1208   11
31 D    75   60         0    0
32 D    75   75      2051    4
33 E    60   60        45    0
34 E    60   75         0    0
35 E    65   60       789    7
36 E    65   75       437    7
37 E    70   60      1157    5
38 E    70   75      2161   12
39 E    75   60         0    0
40 E    75   75       542    1

In [4]:
shipsf = ships;

In [5]:
shipsf$type = factor(shipsf$type)

In [6]:
shipsf$year = factor(shipsf$year)

In [7]:
shipsf$period = factor(shipsf$period)

In [8]:
mod1 = glm(incidents ~ type + year + period + offset(log1p(service)),
           family=poisson, 
           control=glm.control(epsilon=0.0001, maxit=100),
           data=shipsf)

In [10]:
mod1

Call:  glm(formula = incidents ~ type + year + period + offset(log1p(service)),
    family = poisson, data = shipsf, control = glm.control(epsilon = 1e-04,
        maxit = 100))

Coefficients:
(Intercept)        typeB        typeC        typeD        typeE       year65
   -6.40691     -0.54261     -0.68788     -0.07675      0.32499      0.69721
     year70       year75     period75
    0.81880      0.45335      0.38463

Degrees of Freedom: 39 Total (i.e. Null);  31 Residual
Null Deviance:	    146.3
Residual Deviance: 38.73 	AIC: 154.6

In [1]:
data <- data.frame(Day=c(1, 2, 3, 4, 5, 6, 7, 8, 9, 10), Err=c(1, 3, 5, 7, 8, 10, 12, 11, 13, 16))
output_P <- glm(Err ~ Day, data = data, family = poisson)
print(summary(output_P))

Call:
glm(formula = Err ~ Day, family = poisson, data = data)

Deviance Residuals:
     Min        1Q    Median        3Q       Max
-1.44242  -0.36748  -0.06179   0.52884   0.64720

Coefficients:
            Estimate Std. Error z value Pr(>|z|)
(Intercept)  0.97682    0.30438   3.209  0.00133 **
Day          0.18789    0.04087   4.598 4.27e-06 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

(Dispersion parameter for poisson family taken to be 1)

    Null deviance: 26.9514  on 9  degrees of freedom
Residual deviance:  3.9453  on 8  degrees of freedom
AIC: 45.945

Number of Fisher Scoring iterations: 4

In [11]:
?predict.glm

In [12]:
predict.glm(output_P,data,type="response")

        1         2         3         4         5         6         7         8
 3.205002  3.867492  4.666921  5.631597  6.795676  8.200375  9.895433 11.940867
        9        10
14.409103 17.387535

In [15]:
predict.glm(output_P,data.frame(Day=c(11)),type="response")

       1
20.98162